body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
}
h2 {
    margin: 0;
    text-align: center;
}

p {
    margin: 15px 0 30px 0;
    text-align: center;
}

main {
    padding: 20px;
}

#game {
    margin-bottom: 20px;
}

.info-marker {
    display: block;
    position: relative;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
}

.info-marker::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
}

.info-marker:hover::after {
    opacity: 1;
    visibility: visible;
}

.flags-game {
    background-color: lightgray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#flags-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#flags-container img {
    margin: 10px 0;
    width: auto;
    height: 240px;
    cursor: pointer;
    transition: transform 0.2s;
}

#flags-container img:hover {
    transform: scale(1.1);
}

#flags-container select {
    margin: 10px 0;
    padding: 5px;
    font-size: 16px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}